    <!-- ==== footer ==== -->
    <footer class="footer">

        <ul class="social">
            <li class="github"><a href="https://github.com/osoco/a-hombros-de-gigantas/"><span>GitHub</span></a></li>
            <li class="vimeo"><a target="_blank" href="https://vimeo.com/ahombrosdegigantas"><span></span></a></li>
            <li class="twitter">
                <a target="_blank" href="{{twitterLink}}"><span>Twitter</span></a></li>
        </ul>

        <address>
                <ul>
                    <li class="logo"><a href="/"><img src="Assets/img/logo.svg" alt="A hombros de gigantas"></a> </li>
                    <li><a href="intro.html">Sobre el proyecto</a></li>
                    <li><a href="mailto:gigantas@osoco.es" class="e-mail">Contacto</a></li>
                    <li><small class="copyright">Copyright 2020-2022 <a href="https://osoco.es" target="_blank">OSOCO</a>.</small></li>
                    <li><a rel="author" href="humans.txt" title="Información sobre los creadores del sitio en formato humans.txt"><img src="Assets/img/humanstxt-transparent-color.png" alt="icono humans.txt"/></a></li>
                    <li><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank" title="El contenido de este sitio está bajo una licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional"><img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></li>
                </ul>
        </address>	
    
</footer>
<!-- ==== End footer ==== -->
