    <!-- ==== footer ==== -->
    <footer class="footer">

        <ul class="social">
            <li class="github"><a href="https://github.com/osoco/a-hombros-de-gigantas/"><span>GitHub</span></a></li>
            <li class="instagram"><a href="#"><span>Instagram</span></a></li>
            <li class="twitter"><a href="#"><span>Twitter</span></a></li>
        </ul>

    <nav>
        <ul>
            <li><a href="/#proyecto">Sobre el proyecto</a></li>
        </ul>
    </nav>

    <address>
        <strong class="logo"> <img src="Assets/img/logo.svg" alt="A hombros de gigantas"></strong>
        <a href="gigantas@osoco.es" class="e-mail">gigantas@osoco.es</a>
        <small>Copyright 2020-2021. Creado por <a href="https://osoco.es">OSOCO</a> con ilustraciones de <a href="https://www.instagram.com/lureka_es/"> 
            Lureka</a></small>
    </address>	
    
</footer>
<!-- ==== End footer ==== -->