    <!-- ==== footer ==== -->
    <footer class="footer">

        <ul class="social">
            <li class="github"><a href="https://github.com/osoco/a-hombros-de-gigantas/"><span>GitHub</span></a></li>
            <li class="vimeo"><a target="_blank" href="https://vimeo.com/ahombrosdegigantas"><span></span></a></li>
            <li class="twitter">
                <a target="_blank" href="http://twitter.com/intent/tweet?text=%C2%BFConoc%C3%A9is%20a%20las%20gigantas%20de%20la%20inform%C3%A1tica%3F%20Proyecto%20que%20visibiliza%20a%20las%20mujeres%20que%20han%20aportado%20al%20mundo%20de%20la%20computaci%C3%B3n.%20%23Ahombrosdegigantas%20%20&url=https%3A%2F%2Fahombrosdegigantas.xyz%2F%0A"><span>Twitter</span></a></li>
        </ul>

    <nav>
        <ul>
            <li><a href="intro.html">Sobre el proyecto</a></li>
        </ul>
    </nav>

    <address>
        <strong class="logo"> <img src="Assets/img/logo.svg" alt="A hombros de gigantas"></strong>
        <a href="mailto:gigantas@osoco.es" class="e-mail">Contacto</a>
        <small class="copyright">Copyright 2020-2021 <a href="https://osoco.es" target="_blank">OSOCO</a>.</small>
        <a rel="author" href="humans.txt" title="Información sobre los creadores del sitio en formato humans.txt"><img src="Assets/img/humanstxt-transparent-color.png" alt="icono humans.txt"/></a>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank" title="El contenido de este sitio está bajo una licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional"><img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
    </address>	
    
</footer>
<!-- ==== End footer ==== -->