/*
 /- 01 Commons
 /- 02 Home
 /- 03 Details
 /- 04 Home-2 - Gigants-ts
 /- 05 Intro

 /- KEYFRAMES 
*/
*{
    box-sizing: border-box;
}

/* / - 01 Commons / */
body {
    font-family: 'Roboto Slab', serif;
    background: #D8DBE2;
    line-height: 1.5em;
    overflow-x: hidden;
    color: #333333;
    font-size: 20px;
}
p > a, li > a {
    color:#0080ff;
    text-decoration: none;
}
p > strong {color:#000}
em { font-style: italic }
strong { font-weight: bold } 
blockquote {
    font-family: 'Roboto', sans-serif;
    background-color: #fffbe6;
    padding: 20px;
    border-radius: 4px;
}
blockquote::before {
    display: inline-block;
    content: url(img/blockquote.svg);
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo img {width: 100%;}
.header .logo {
    width: 140px;
    top:6px;
    left: 6px;
    z-index: 10;
    position: absolute;
}

.footer {
    display: block;
    width: 100%;
    background: #000;
    color:#666;
    padding: 16px;
    font-size: .85rem;
    align-items: baseline;
    justify-content: flex-start;
    position: relative;
    z-index: 20;
    text-align: center;
}
.footer a {
    text-decoration: none;
    padding: 16px;
    color:#fff;
    opacity: .7;
}
.copyright a {
    padding: 0;
}
.footer nav ul{
    margin: 16px auto;
    line-height: 1.8em;
}
.footer a:hover { opacity: 1;}

.footer .logo  {
    width: 100px;
    position: static;
    display: inline-block;
}
.footer address {max-width: 90%; text-align: center; margin: 0 auto;}
@media (min-width:900px) { .footer address ul {display: flex; align-items: center; margin: 0 auto;}}
.footer address .logo {margin-right: 32px;}

.social .github a::before {
    content: url("img/ico-github.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}
.social .vimeo a::before {
    content: url("img/ico-vimeo.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}
.social .twitter a::before {
    content: url("img/ico-twitter.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}
.social {
    /* text-align: center;  */
    display: flex;
    justify-content: center;
}


.social li {
    display: inline-block;
    margin: 10px;
}
.social li a {
   opacity: .6;
   height: 32px;
   padding: 0;
   margin: 0;
   display: block;
}
.social li a:hover {
    opacity: 1;
} 
.social li a span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.widget-shop{
    padding: 30px 0 90px;
    background-image: url("img/widgetShopShadow.svg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1500px;
    border-top: 2px solid #8e8e8e;
}

.widget-shop .shop{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}
.widget-shop .shop > div{
    position: relative;
    padding: 30px 0;
}
.widget-shop .shop > div:not(:last-child)::after{
    width: 100%;
    height: 1px;
    content: "";
    background-color: #a8a8a8;
    position: absolute;
    bottom: -15px;
    right: 0;
}
@media (min-width: 850px) {
    .widget-shop .shop > div{
        display: flex;
    }
    .widget-shop .shop{
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
    .widget-shop .shop > div:not(:last-child)::after{
        width: 1px;
        height: 100%;
        top: 0;
        bottom: auto;
        right: -15px;
    }
}
.widget-shop .shop .action{
    padding-left: 30px;
    text-align: center;
}
.widget-shop .shop .action .price{
    margin-top: 10px;
    font-size: 2em;
    display: block;
    padding-bottom: 10px;
}
.widget-shop .shop .action strong{
    padding: 1px 5px;
    border-radius: 4px;
    display: inline-block;
    background-color: #000;
    color: #fff;
}
.widget-shop .shop .print{
    text-align: center;
    position: relative;
}
.widget-shop .shop .print img.print{
    width: 70px;
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 35px);
    z-index: 2;
}
.widget-shop .shop .action a{
    background: #252525;
    padding: .5em 1.5em;
    color: #fff;
    text-decoration: none;
    margin: 24px 0;
    display: inline-block;

    border-radius: 5px;
    box-shadow: 2px 2px 2px #6b6b6b36;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: -20px;
    position: relative;
    left: -20px;
    transform: rotate(-3deg);
}
.bgc-adele_goldberg{
    background-color: #003845;
}
.bgc-barbara_liskov{
    background-color:#7F7581;
}
.bgc-frances_allen{
    background-color:#987B69;
}
.bgc-grace_hopper{
    background-color:#4C5181;
}
.bgc-margaret_hamilton{
    background-color:#668FAD;
}
.bgc-marian_croak{
    background-color:#004DA9;
}
.bgc-nancy_lynch{
    background-color:#07747F;
}
.bgc-radia_perlman{
    background-color:#616161;
}
.bgc-shafi_goldwasser{
    background-color:#3768A7;
}
.bgc-ada_lovelace{
    background-color:#C4A33A;
}
.bgc-sophie_wilson{
    background-color:#9c4c3d;
}
.bgc-rebecca_wirfs-brock{
    background-color:#DEA12F;
}

@media (min-width: 900px) {
   .header .logo {
        width: 150px;
        top:24px;
        left: 24px;
        position: fixed;
    }
    .footer {
        display: flex;
        text-align: initial;
    }
    .footer nav ul{
        display: inline-flex;
        margin: initial;
    }
    .social a::before {
        filter: invert(1);
    }
    .social {
        flex-direction: column;
        position: fixed;
        z-index: 5;
        top: 5vh;
        right: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
} 


/* / - 02 Home / */
.Home .giants {overflow-x: auto;}
.Home .giants ul {
   margin: 0 auto;
   max-width: 1024px;
}
.Home .giants a {
    text-decoration: none;
    display: block;
    position: relative;
    height: 300px;
    display: flex;
    width: 233px;
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    margin: 6px;
}
.Home .giants li .media {position: absolute;}
.Home .giants .media img {border-radius: 6px;}
.Home .giants .title {
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2em;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
        z-index: 5;
        position: relative;
        padding: 6px;
        text-align: right;
    }
.Home .giants .subtitle {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    opacity: 0;
    z-index: 5;
    font-size: .9rem;
    position: relative;
    text-align: right;
    padding: 0 6px ;
    height: 1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);

}
.Home .giants a:hover {
    background: #fff;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.Home .section-content h1 {
    font-size: 2.4rem;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    padding-top: 2em;
}
.Home .section-content h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    margin-bottom: .2em;
    padding-top: .5em;
}
.Home section.project {
    background: #fff;
    width: 100%;
    display: inline-block;
    padding-bottom: 60px;
}
.project .media {
    max-width: 600px;
    margin: 0 auto;
    display: none;
}
.Home .section-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
}
.Home .section-content  p {
    margin-bottom: 16px;
    line-height: 1.5em;
    color: #808080;
    max-width: 800px;
}

.Home .gigants-ts{
    background-color: #333;
}
.Home .gigants-ts ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}
@media (min-width: 1900px){
    .Home .gigants-ts ul{
        grid-template-columns: repeat(auto-fill, 25%);
    }
}




.Home .gigants-ts ul li{ overflow: hidden;}
.Home .gigants-ts h1,
.Home .gigants-ts h2{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
}
.Home .gigants-ts a img{
    transform: scale(1);
    transition: all .5s ease-in-out;
}
.Home .gigants-ts a:hover img{
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}
.Home .gigants-ts img{
    max-width: 100%;
}

/* / - 03 Details / */
.detail-content{
    display: grid;
    grid-template-rows: minmax(100vh, 1fr) auto auto;
}
.detail-content > div > div{
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.detail-header{
   
    color: #fff;
    position: relative;
    overflow-x: hidden;
}

@media (min-width: 960px) {
    .detail-header{ animation: 1s ease-out 0s 1 slideInFromLeft;}
    }
.detail-header p{
    font-size: 1.3em;
    line-height: 1.5em;
}
.detail-header a{
    color: #fff;
}
.detail-header .authors{
    font-size: .8em;
    padding-bottom: 30px;
}
.detail-header .authors div:not(:last-child){
    margin-right: 20px;
}
.detail-header .authors .btn-colabora{
    background: #252525;
    padding: .5em 1.5em;
    color: #fff;
    text-decoration: none;
    margin: 24px 0;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #6b6b6b36;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    position: relative;
    transform: rotate(-3deg);
    font-weight: bold;
}
.detail-header .ico-scrollDown{
    display: block;
    opacity: .6;
    height: 50px;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top: calc(100vh - 50px);
    z-index: 2;
    animation: animationFrames ease-in-out 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease-in-out 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames ease-in-out 2s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames ease-in-out 2s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease-in-out 2s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@media (min-width: 900px) {
    .detail-header .ico-scrollDown{  
        opacity: 1;
        height: 80px;
        top: calc(100vh - 80px);
    }
}
.detail-body{
    padding: 50px 0 100px;
    background-color: #fff;
}
.detail-body h3,
.widget-shop h3{
    margin: 3em 0 .5em;
    display: block;
    font-size: 1.3em;
    line-height: 1em;
}
.detail-body ul{
    padding-left: 50px;
    display: inline-block;
    clear: both;
}
.detail-body ul li{
    position: relative;
}
.detail-body ul li::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #444;
    position: absolute;
    left: -20px;
    top: 10px;
}
.detail-body figure{
    background-color: #fff;
    border: 1px solid #dddbdb;
    transform: rotate(-3deg);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 20px;
    max-width: 100%;
    margin: 30px;
}

.detail-body figure:nth-of-type(3n+2){
    transform: rotate(3deg);
}

@media (min-width: 769px) {
    .detail-body figure{
        max-width: 450px;
        float: left;
    }
    .detail-body figure:nth-of-type(3n+2){
        float: right;
    }
}
.detail-body figure img{
    width: 100%;
}
.detail-body figure figcaption{
    padding-top: 20px;
    font-size: .8em;
    font-style: italic;
    line-height: 1.3em;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

.Detail .names { 
    max-width:80%; 
    height:9rem; 
}
@media (min-width: 1200px) {
    .Detail .names {  height:12rem; }
    .Detail .bgc-barbara_liskov .names,
    .Detail .bgc-frances_allen .names {  height:9rem; }
}
.Detail picture {display: contents;}
.Detail .portrait {
    width:auto;
    height:100vh;
    margin-right: -20%;
}
@media (min-width: 900px) {
    .Detail .portrait {
        float:right;
        shape-margin: 2rem;
        margin-right: -10%;
    }
}
@media (min-width: 1400px) {
    .Detail .portrait {
        margin-right: 0;
    }
}

.Detail .title {
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    margin-bottom: 8px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    position: absolute;
    top: 55vh;
    left: 0;
    width: 100%;
    text-align: center;
}
@media (min-width: 900px) {
    .Detail .title{
        margin-top: 200px;
        position: relative;
        top: initial;
        left: initial;
        text-align: initial;
    }
}
.Detail .subtitle {
    color: #fff;
    font-size: 1.2em;
    opacity: .8;
    padding-bottom: 100px;
    line-height: 1.5;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -25vh;
    margin-bottom: -23vh;
    text-shadow: 1px 1px 1px #7b7b7b;
}
@media (min-width: 900px) {
    .Detail .subtitle{
        font-size: 1.3em;
        text-align: initial;
        top: initial; 
        max-width: 65%;
        margin-bottom: initial;
        text-shadow: initial;
    }
}

.related .nav-previous, .related .nav-next {
    z-index: 6;
    position: fixed;
    top: calc(95vh - 30px);
}
@media (min-width: 768px) {
    .related .nav-previous, .related .nav-next {
        top: calc(50vh - 17px);
    }
} 
.related .nav-previous a, .related .nav-next a {text-decoration: none;}
.related .nav-previous {left:24px}
.related .nav-next {right: 24px}

.related .nav-previous a::before {
    content: " ";
    border: solid #fff; 
    border-width: 0 .2em .2em 0; 
    display: inline-block; 
    padding: .70em; transform:rotate(135deg); 
    -webkit-transform:rotate(135deg);
    box-shadow: 3px 2px 3px #aba6a6cc;
}
.related .nav-next a::after {
    content: " ";
    border: solid #fff; 
    border-width: 0 .2em .2em 0; 
    display: inline-block; 
    padding: .70em; transform:rotate(135deg); 
    transform:rotate(135deg); -webkit-transform:rotate(-45deg);
    box-shadow: 3px 2px 3px #aba6a6cc;
}

.related .nav-previous a article, .related .nav-next a article {
   display: none;
}
/* /- 05 Intro */
.project-header{
    background-image: url("img/bg-intro.png");
    padding: 30px;
}
.video-wrapper{
    overflow:hidden;
    display:block;
    max-width: 300px;
    height: 0;
    padding-bottom: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 140px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}
@media (min-width: 768px) {
    .video-wrapper{
        max-width: 700px;
        padding-bottom: 700px;
        margin-top: 0;
    }
}
.video-wrapper #myVideo{
    height: 302px;
    width: 302px;
    object-fit: cover;
}
@media (min-width: 768px) {
    .video-wrapper #myVideo{
        height: 702px;
        width: 702px;
    }
}
.project-body{
    margin-bottom: 100px;
}
.project-body h1{
    font-size: 2em;
    padding-top: 50px;
    margin-bottom: 20px;
    line-height: 1.2em;
}
.project-body h2{

    font-size: 1.5em;
    padding-top: 40px;
    line-height: 1.2em;
}
.project-body h3{
    font-size: 1.2em;
    padding-top: 30px;
    line-height: 1.2em;
}
.project-body > div{
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1200px) {
    .project-body > div{text-align: justify;}
    .detail-body p{
        text-align: justify;
    }
}


/* KEYFRAMES */

  @keyframes animationFrames{
    0% {
      transform:  translate(0px,0px)  ;
    }
    0% {
      transform:  translate(0px,0px)  ;
    }
    50% {
      transform:  translate(0px,-20px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    50% {
      -moz-transform:  translate(0px,-20px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    50% {
      -webkit-transform:  translate(0px,-20px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    50% {
      -o-transform:  translate(0px,-20px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    50% {
      -ms-transform:  translate(0px,-20px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }

  .widget-shop, .detail-header .authors .btn-colabora { display: none;}